@import "partials/palette";
@import "config";

@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/pickadate/lib/themes/default";
@import "node_modules/pickadate/lib/themes/default.date";
@import "node_modules/pickadate/lib/themes/default.time";
@import "node_modules/hamburgers/_sass/hamburgers/hamburgers";

// Defaults
@import "partials/mixins";
@import "partials/fontface";
@import "partials/icons";
@import "partials/defaults";

// Vendor
@import "../vendor/css/swiper";
@import "../vendor/css/dante-editor";

// Partials
@import "partials/404";
@import "partials/list";
@import "partials/form";
@import "partials/header";
@import "partials/footer";
@import "partials/page";
@import "partials/featured";
@import "partials/package";
@import "partials/blog";
@import "partials/auth";
@import "partials/cart";
@import "partials/checkout";
@import "partials/orders";
@import "partials/customer";
@import "partials/sidebar";
@import "partials/contact";

/* Smartphones */
@media only screen
and (max-width : 767px) {
	@import "responsive/smartphone";
}

/* Tablets (portrait and landscape) ----------- */
@media only screen
and (min-width : 768px)
and (max-width : 991px) {
	@import "responsive/tablet";
}

/* Small Desktops and laptops ----------- */
@media only screen
and (min-width : 992px) {
	@import "responsive/desktop";
}
