.featured, .replace{
    .card{
        > header{
            height: 150px;
            background-size: cover;
            background-position: center;
            border-radius: 4px 4px 0 0;
            position: relative;
            button{
                background: transparent;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                width: 100%;
                border: 0;
                outline: none;
                opacity: 0;
                transition: 0.15s ease-out;
                &:hover{
                    opacity: 1;
                    background: linear-gradient(transparent, rgba(#000, 0.5));
                    &:after{
                        opacity: 1;
                    }
                }
                &:after{
                    content: "";
                    position: absolute;
                    border: 2px solid #fff;
                    border-radius: 50px;
                    width: 50px;
                    height: 50px;
                    top: 50%;
                    left: 50%;
                    opacity: 0;
                    transform: translate(-50%, -50%);
                    transition: 0.15s ease-out;
                }
                &:before{
                    color: #fff;
                    font-size: 1.5rem;
                }
            }
        }
    }
    .card-deck-wrapper{
        margin-bottom: 20px;
    }
    h4{
        margin-bottom: 0;
    }
}
