.-content{
    font-family: OpenSans;
    h1, h2, h3, h4, h5{
        font-family: ContrailOne;
    }
    ul{
        margin-bottom: 20px;
        li{
            font-size: 1.2rem;
            line-height: 24px;
        }
    }
}

button{
    outline: none;
}
