.gallery{
    &.modal{
        .modal-header{
            border-bottom: 0px;
        }
        .upload{

        }
        .album-wrapper{
            display: flex;
            margin-top: -15px;
            margin-bottom: -15px;
        }
            .album{
                padding-top: 15px;
                padding-bottom: 15px;
                overflow: auto;
                max-height: 400px;
                display: flex;
                flex-flow: row wrap;
                figure{
                    position: relative;
                    &.-selected{
                        img{
                            border-color: $gray-dark;
                        }
                        span.fa-check-square{
                            display: block;
                        }
                        span.fa-minus-square{
                            color: $brand-danger;
                        }
                    }
                    &:hover, &.-active{
                        cursor: pointer;
                        img{
                            border-color: $brand-info;
                        }
                    }
                    &.-active{
                        color: $brand-info;
                    }
                    &.-active:hover{
                        span.fa-check-square{
                            display: none;
                        }
                        span.fa-minus-square{
                            display: block;
                        }
                    }
                    &.-error{
                        text-align: center;
                        align-self: center;
                        font-weight: 600;
                        color: $brand-danger;
                        font-size: 0.8rem;
                    }
                }
            }
            .sidebar{
                padding-top: 15px;
                padding-bottom: 15px;
                background: #f7f7f9;
                border-left: 1px solid #ddd;
                overflow: auto;
                max-height: 400px;
                h3{
                    text-transform: uppercase;
                    font-size: 1rem;
                    font-weight: 600;
                }
                figure{
                    img{
                        width: 70%;
                        height: auto;
                        border: 5px solid #ddd;
                    }
                }
                ul{
                    padding-left: 0;
                    font-size: 0.8rem;
                    li{
                        list-style: none;
                    }
                }
                .alert{
                    display: none;
                }
                form.destroy{
                    input[type="submit"]{
                        background: transparent;
                        border: 0;
                        color: $brand-danger;
                        font-weight: 600;
                        padding: 0;
                        outline: none;
                    }
                }
            }
    }
    .album, &.thumbnail{
        figure{
            &:hover{
                span.fa-minus-square{
                    display: block;
                    cursor: pointer;
                    &:hover{
                        color: $brand-danger;
                    }
                }
            }
            span.fa{
                position: absolute;
                top: 8px;
                right: 25px;
                font-size: 1.8rem;
                display: none;
            }
            img{
                width: 100%;
                height: auto;
                border: 5px solid #ddd;
                transition: 0.15s ease-out;
            }
        }
        &--sortable{
            figure{
                cursor: move;
            }
        }
    }
    &.thumbnail{
        .card-block{
            display: flex;
            figure{
                padding: 0;
                margin: 0;
                width: 70%;
                span{
                    right: 10px;
                }
            }
        }
    }
}
