.-list{
    table{
        button.fa{
            background-color: transparent;
            border: 0;
            font-size: 1.4rem;
            opacity: 0.5;
            float: right;
            outline: none;
            &:hover{
                opacity: 1;
            }
            &.-active{
                opacity: 1;
                color: $brand-warning;
            }
        }
    }
}
