.order{
    &.modal{
        .empty-coupon, .show-coupon, .add-coupon{
            display: none;
            &.-active{
                display: block;
            }
        }
        .modal-footer{
            span.price{
                float: left;
                text-align: left;
                line-height: 110%;
                span.subtotal{
                    font-size: 0.8rem;
                    span.old{
                        text-decoration: line-through;
                    }
                    span.discount{
                        color: $brand-danger;
                    }
                }
                span.total{
                    font-weight: 600;
                    display: block;
                }
            }
        }
    }
}
