.package--form{
  .package{
    &__adults-only{
      width: auto;
      display: inline-block;
      float: right;
      margin-left: 10px;
      input[type="checkbox"]{
        margin-right: 5px;
      }
    }
    &__unity{
      width: auto;
      display: inline-block;
      float: right;
      input[type="checkbox"]{
        margin-right: 5px;
      }
    }
  }
}
