aside{
    &.-sidebar, .-sidebar{
        .list-group{
            a{
                position: relative;
                padding-left: 45px;
                span.fa{
                    position: absolute;
                    top: 50%;
                    left: 15px;
                    font-size: 1.2rem;
                    transform: translate(0, -50%);
                }
                span.label{
                    position: absolute;
                    top: 50%;
                    right: 15px;
                    transform: translate(0, -50%);
                }
            }
        }
    }
}
