/*
 * partials/_defaults.scss
 */
nav.share{
    a{
        transition: 0.15s ease-out;
        &.facebook:hover{
            background: #3b5998;
            color: #fff;
            border-color: transparent;
        }
        &.twitter:hover{
            background: #55acee;
            color: #fff;
            border-color: transparent;
        }
    }
}

/*
 * partials/_header.scss
 */
 #main-top{

 }

/*
 * partials/_featured.scss
 */
section.featured{
    padding: 220px 0 180px 0;
    background-attachment: fixed;
    article{
        background-image: none !important;
    }
}
