/*
 * partials/_defaults.scss
 */
html{

}
.container{
    padding: 0;
    margin: 0;
    max-width: 100%;
}

/*
 * partials/_header.scss
 */

#main-top{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    background: $dark-grey;
    transition: 0.15s ease-out;
    &.-transparent{
        background: transparent;
        position: absolute;
    }
    &.is-open{
        position: fixed;
        background: $dark-grey;
        #smartphone-menu{
            .smartphone-site-map{
                left: 0%;
            }
        }
    }
    > header{
        background: transparent;
        a.logo{
            margin: 16px 0 21px;
            display: block;
            text-align: center;
            width: auto;
            img{
                width: 160px;
            }
        }
        #smartphone-menu{
            button{
                &.hamburger{
                    position: absolute;
                    top: 10px;
                    outline: none;
                    left: 10px;
                    &:hover, &:focus{
                        color: $robins-egg;
                    }
                }
                &.search{
                    position: absolute;
                    top: 10px;
                    outline: none;
                    right: 10px;
                    color: $robins-egg;
                    background: transparent;
                    border: 0;
                    padding: 10px 10px;
                    font-size: 2.5rem;
                    line-height: 100%;
                }
            }
            nav.lang{
                border: 3px solid rgba($white, 0.04);
                border-left: 0;
                border-right: 0;
                padding: 10px 0;
                text-align: center;
                a{
                    font-family: ContrailOne;
                    text-transform: uppercase;
                    font-size: 1.6rem;
                    line-height: 180%;
                    margin-right: 15px;
                    color: $cool-grey;
                    &.-active{
                        color: $robins-egg;
                    }
                    img{
                        width: 14px;
                        height: auto;
                    }
                }
            }
            .smartphone-site-map{
                position: fixed;
                top: 59px;
                bottom: 0;
                left: -100%;
                width: 100%;
                background: $dark-grey;
                overflow: auto;
                transition: 0.25s ease-out;
                .first-menu{
                    width: 100%;
                    float: left;
                    padding: 5px 0 5px 0;
                    margin-bottom: 30px;
                    border-bottom: 3px solid rgba($white, 0.04);
                    li{
                        width: 50%;
                        float: left;
                        a.cart{
                            background: $dark-grey;
                            padding: 10px;
                            padding-left: 40px;
                            padding-right: 0;
                            font-size: 1.2rem;
                            border-radius: 4px;
                            position: relative;
                            float: left;
                            color: $white;
                            span.icon{
                                margin-top: 3px;
                                font-size: 2.2rem;
                                position: absolute;
                                top: 50%;
                                left: 10px;
                                transform: translate(0, -50%);
                            }
                            &.-active{
                                color: $robins-egg;
                                span.icon{
                                    color: $robins-egg;
                                }
                            }
                        }
                        &.dropdown{
                            padding-top: 5px;
                            padding-left: 10px;
                            button{
                                background: transparent;
                                border: 0;
                                font-size: 1.2rem;
                                color: $cool-grey;
                                font-weight: 500;
                                outline: none;
                            }
                            .dropdown-menu{
                                border-radius: 4px;
                                top: 70%;
                                font-size: 1.2rem;
                            }
                        }
                    }
                }

                nav.map{
                    text-align: center;
                    margin-bottom: 40px;
                    color: $white;
                    &:last-child{
                        margin-bottom: 20px;
                    }
                    a{
                        display: block;
                        color: $slate-grey;
                        line-height: 1.1;
                        margin-bottom: 1rem;
                    }
                    h3{
                        text-transform: uppercase;
                        font-size: 1.6rem;
                    }
                    &.-upper{
                        a{
                            font-family: ContrailOne;
                            font-size: 1.6rem;
                            text-transform: uppercase;
                            color: $white;
                        }
                    }
                }

                nav.social{
                    text-align: center;
                    float: none;
                    padding: 0;
                    a{
                        color: $robins-egg;
                    }
                }
            }
        }
        #main-menu{
            display: none;
        }
    }
    > footer{
        display: none;
        &.-dark{
            background: transparent;
        }
    }
}

/*
 * partials/_footer.scss
 */
#main-bottom{
    margin-top: 70px;
    > header{
        text-align: center;
        .row{
            margin: 0;
        }
        .methods{
            text-align: left;
        }
        form.newsletter{
            margin-top: 20px;
            text-align: left;
        }
    }
    > footer{
        nav.social{
            display: none;
        }
        nav.lang{
            a{
                width: 33.3%;
                float: left;
                text-align: center;
                margin: 0;
            }
        }
    }
}

/*
 * partials/_featured.scss
 */
section.featured{
    padding: 0;
    background-image: none !important;
    &:before{
        display: none;
    }
    article{
        padding: 160px 10px 20px 10px;
        position: relative;
        background-size: cover;
        background-position: center;
        &:before{
            content: '';
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 0;
            position: absolute;
            background: linear-gradient(to bottom, rgba($dark-grey, 0.3) 0%, rgba($dark-grey, 0.65) 100%);
        }
        *{
            position: relative;
        }
        > header{
            h1{
                display: block;
                font-size: 3.8rem;
                line-height: 55px;
                padding-bottom: 5px;
            }
        }
        > p{
            font-size: 1.5rem;
        }
        > footer > a{
            display: block;
            float: none;
            clear: both;
            text-align: center;
            padding-top: 25px;
            margin-top: 20px;
            font-size: 1.8rem;
            border-top: 1px solid rgba($white, 0.2);
        }
    }
    form.search{
        padding: 0;
        > header{
            padding-top: 18px;
        }
        > header, fieldset{
            border-radius: 0;
        }
        fieldset{
            padding: 20px 10px;
            input.-rounded{
                margin-top: 10px;
            }
        }
        footer{
            text-align: center;
            margin-top: 25px;
            input[type="submit"]{
                float: none;
                font-size: 1.8rem;
                margin-bottom: 10px;
            }
        }
    }
}

/*
 * partials/_package.scss
 */
 .package{
    /* index */
    &.-list, .-list{
        margin-top: 0;
        margin-bottom: 25px;
        > h3{

        }
        article{
            padding: 0;
            .wrapper{
                margin-top: 0;
                border-radius: 0;
                header{
                    h1{
                        font-size: 2.8rem;
                    }
                }
            }
                aside{
                    bottom: 0;
                    right: 0;
                    top: inherit;
                    width: auto;
                    padding-bottom: 50px;
                }
        }
    }
    &.-read, .-read{
        article{
            .swiper-container{
                padding: 0 0 40px 0;
                .swiper-pagination{
                    text-align: center;
                }
            }
            ul.nav-tabs{
                border-bottom: 0;
                li{
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }
}

nav.share{
    text-align: center;
    margin-bottom: 20px;
    a{
        font-size: 1.3rem;
    }
}

/*
 * partials/_blog.scss
 */
.blog{
    &.-list, .list{
        margin-bottom: 20px;
    }
}

/*
 * partials/_sidebar.scss
 */
aside{
    &.-sidebar, .sidebar{
        margin-bottom: 0;
    }
}

/*
 * partials/_page.scss
 */
.-page-head{
    .wrapper{
        h1{
            margin-bottom: 0;
            font-size: 3.2rem;
        }
    }
}

/*
 * partials/_auth.scss
 */
 #auth-modal{
     .modal-dialog{
         margin: 0;
         padding: 10px;
         button.close{
         }
         > header{
             margin-bottom: 20px;
             h1{
                 font-size: 2rem;
             }
             h2{
                 font-size: 1.2rem;
             }
         }
         .wrapper{
             &:after{
                 display: none;
             }
         }
         form{
             padding-bottom: 50px;
             h3{
             }
             .alert{
             }
             .lost-password{
             }
             input[type="submit"]{
             }
             > footer{
                 position: static;
             }
         }
     }
 }

 /*
  * partials/_cart.scss
  */
.cart{
    &.-list, .-list{
        article{
            padding: 30px 0;
            &.package{
                h2{
                    text-align: center;
                    margin: 10px 0 0;
                }
                p{
                    display: none;
                }
            }
            button.remove{
                text-align: center;
                width: 100%;
            }
            figure{
                text-align: center;
                span{
                    padding: 8px;
                    left: 50%;
                    margin-left: -20%;
                    transform: translate(-50%, 0);
                }
                img{
                    width: 50%;
                    border-radius: 200px;
                }
            }
            .subtotal{
                padding-top: 30px;
                padding-bottom: 0;
            }
        }
    }
    > footer{
        margin-top: 30px;
        text-align: center;
        .total{
            display: block;
            margin-bottom: 10px;
            span{
                &:first-child{
                    font-size: 2rem;
                }
                &:last-child{
                    font-size: 3rem;
                }
            }
        }
    }
}

/*
 * partials/_checkout.scss
 */
.checkout{
    &.-steps, .-steps{
        margin: 80px 0 0px;
        h3{
            font-size: 1.4rem;
        }
        h1{
            font-size: 3.4rem;
        }
        p{
            font-size: 1.4rem;
        }
        > a{
            font-size: 1.2rem;
        }
    }
    .payment{
        aside.resume{
            margin-bottom: 20px;
            .wrapper{
                padding: 10px;
            }
            h2{
                padding-bottom: 10px;
            }
            article{
                padding: 10px 0;
            }
            footer{
                .total{
                    span{
                        &:first-child{
                            font-size: 2rem;
                        }
                        &:last-child{
                            font-size: 2.6rem;
                        }
                    }
                }
            }
        }
        .method{
            h2{
                margin: 20px 0 10px;
            }
            fieldset{
                &.payment{

                    label{
                    }
                }
                &.creditcard{
                }
            }
            label.c-input{
                img{
                    display: none;
                }
            }
        }
        > footer{
            margin-top: 0;
        }
    }
}

/*
 * partials/_orders.scss
 */
.orders{
    &.-list, .-list{
        > header{
            padding-top: 60px;
            text-align: center;
            h2{
                font-size: 5rem;
                line-height: 49px;
            }
        }
        > article{
            margin-bottom: 20px;
            .wrapper{
                padding: 10px;
                header{
                    h2{
                        padding-bottom: 10px;
                    }
                }
            }
            h2{
                padding-bottom: 10px;
            }
            article{
                padding: 10px 0;
                header{
                    .status .text{
                        display: none;
                    }
                }
            }
            footer{
                .total{
                    span{
                        &:first-child{
                            font-size: 2rem;
                        }
                        &:last-child{
                            font-size: 2.6rem;
                        }
                    }
                }
            }
        }
    }
}

/*
 * partials/_contact.scss
 */
.contact{
    padding-top: 40px;
    form{
      margin-top: 40px;
    }
}
