.not-found{
    position: relative;
    height: 85%;
    margin-bottom: -100px;
    background-position: center;
    background-size: cover;
    background-image: url('../images/delete/bg-404.jpg');
    display: flex;
    align-items: center;
    > .container{
        margin-top: 70px;
        flex: 1;
    }
    &:before{
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(#000, 0.3);
    }
    h1{
        font-size: 13.5rem;
        color: $white;
    }
    p{
        font-size: 2rem;
        color: $cool-grey;
    }
}
