#auth-modal{
    .modal-dialog{
        background: $dark-grey;
        padding: 50px 40px;
        margin-top: 40px;
        margin-bottom: 40px;
        color: $white;
        border-radius: 4px;
        button.close{
            background: #d0d4dc;
            color: #fff;
            border-radius: 30px;
            width: 30px;
            height: 30px;
            opacity: 1;
            font-size: 3rem;
            position: absolute;
            outline: none;
            top: -30px;
            right: -30px;
        }
        > header{
            text-align: center;
            margin-bottom: 50px;
            h1{
                font-size: 4.4rem;
                text-transform: uppercase;
            }
            h2{
                font-size: 1.4rem;
                color: $cool-grey;
                text-transform: uppercase;
            }
        }
        .wrapper{
            display: flex;
            flex-flow: row wrap;
            position: relative;
            &:after{
                position: absolute;
                content: "";
                width: 1px;
                top: 0;
                bottom: 0;
                left: 50%;
                transition: translate(-50%, 0);
                margin-left: 0.5px;
                background: #35383c;
            }
        }
        form{
            position: relative;
            padding-bottom: 68px;
            h3{
                text-transform: uppercase;
                color: $cool-grey;
                font-size: 2rem;
                margin-bottom: 34px;
            }
            .alert{
                display: none;
            }
            .lost-password{
                float: left;
                font-family: ContrailOne;
                text-transform: uppercase;
                font-size: 1rem;
                padding: 14px 0;
            }
            input[type="submit"]{
                float: right;
            }
            > footer{
                position: absolute;
                bottom: 0;
                left: 10px;
                right: 10px;
            }
        }
    }
}
