.checkout{
    &.-steps, .-steps{
        margin: 60px 0 30px;
        text-align: center;
        h3{
            font-size: 2rem;
            color: $aqua-blue;
            text-transform: uppercase;
        }
        h1{
            font-size: 5rem;
        }
        p{
            font-size: 1.8rem;
            color: $cool-grey;
        }
        > a{
            font-size: 1.2rem;
            color: $cool-grey;
            font-family: ContrailOne;
            text-transform: uppercase;
        }
    }
    .payment{
        padding: 60px 0;
        h2{
            text-transform: uppercase;
            font-size: 2.4rem;
            color: $cool-grey;
        }
        aside.resume{
            .wrapper{
                background: $white-two;
                padding: 30px 40px;
                border-radius: 4px;
            }
            h2{
                border-bottom: 1px solid $silver;
                padding-bottom: 20px;
            }
            article{
                padding: 20px 0;
                border-bottom: 1px solid $silver;
                h4{
                    text-transform: uppercase;
                    font-size: 2rem;
                    color: $dark-grey;
                }
                ul{
                    padding-left: 0;
                    li{
                        font-size: 1.5rem;
                        color: $cool-grey;
                        list-style: none;
                        line-height: 120%;
                    }
                }
                span.price{
                    font-family: ContrailOne;
                    color: $cool-grey;
                    font-size: 2.0rem;
                }
            }
            footer{
                padding-top: 20px;
                .total{
                    span{
                        display: block;
                        font-family: ContrailOne;
                        line-height: 120%;
                        &:first-child{
                            font-size: 2.8rem;
                            color: $cool-grey;
                            text-transform: uppercase;
                        }
                        &:last-child{
                            font-size: 4rem;
                            color: $dark-grey;
                        }
                    }
                }
            }
        }
        .method{
            h2{
                margin-bottom: 30px;
            }
            fieldset{
                &.payment{
                    padding: 0 0 10px;
                    label{
                        margin-bottom: 20px;
                    }
                }
                &.creditcard{
                    display: none;
                }
            }
            label.c-input{
                margin-bottom: 20px;
                width: 100%;
                padding: 20px 20px 20px 60px;
                background: transparent;
                color: $cool-grey;
                font-family: ContrailOne;
                font-size: 1.6rem;
                text-transform: uppercase;
                text-align: left;
                border: 2px solid $cool-grey;
                border-radius: 4px;
                margin-left: 0;
                &.-active{
                    border-color: $aqua-blue;
                    color: $aqua-blue;
                }
                input:checked ~ .indicator{
                    border-color: $aqua-blue;
                    &:before{
                        width: 13px;
                        height: 13px;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        position: absolute;
                        content: "";
                        background: $aqua-blue;
                        border-radius: 13px;
                    }
                }
                .indicator{
                    position: absolute;
                    width: 40px;
                    top: 10px;
                    bottom: 10px;
                    left: 10px;
                    border-radius: 4px;
                    height: inherit;
                    border: 2px solid $cool-grey;
                    border-radius: 4px;
                    background: transparent;
                    transition: 0.15s ease-out;
                }
                img{
                    height: 28px;
                    width: auto;
                    top: 50%;
                    right: 20px;
                    transform: translate(0, -50%);
                    position: absolute;
                }
                label.error{
                    font-family: OpenSans;
                    text-transform: none;
                    font-size: 1.2rem;
                    top: -40px;
                }
            }
        }
        > footer{
            margin-top: 60px;
        }
    }
    .customer{
        padding-top: 60px;
        padding-bottom: 30px;
        fieldset{
            margin-bottom: 30px;
        }
        h2{
            text-transform: uppercase;
            font-size: 2.4rem;
            color: $cool-grey;
            margin-bottom: 30px;
        }
    }
}
