html{
    font-size: 62.5%;
    height: 100%;
}

body{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: OpenSans;
    font-size: 1.4rem;
    font-weight: 500;
    height: 100%;
}

h1, h2, h3, h4, h5 {
    font-family: ContrailOne;
}

a{
    color: $aqua-blue;
    &:hover, &:focus{
        text-decoration: none;
    }
}

.-dark{
    a{
        color: $robins-egg;
    }
}

.-content{
    p{
        font-size: 1.6rem;
        line-height: 150%;
        margin-bottom: 1.5em;
    }
    h1, h2, h3, h4, h5{
        font-family: ContrailOne;
    }
    h3{
        font-size: 3rem;
        margin: 1em 0 0.5em 0;
        color: $aqua-blue;
    }
    h4{
        font-size: 2.2rem;
        margin: 1em 0 0.5em 0;
        color: $cool-grey;
    }
    figure{
        margin: 20px 0;
        img{
            width: 100%;
            height: auto;
            border-radius: 4px;
        }
        figcaption{
            position: static;
            display: block;
            width: 100%;
            margin: 13px 0;
            font-family: ContrailOne;
            color: $cool-grey;
            text-align: left;
            padding-bottom: 10px;
            font-size: 1.2rem;
         }
    }
    ul, ol{
        margin-bottom: 20px;
        li{
            font-size: 2rem;
            font-weight: 400;
            font-style: italic;
            line-height: 150%;
        }
    }
    blockquote{
        border-color: $cool-grey;
        border-left-width: 4px;
        font-style: italic;
        color: $cool-grey;
        padding: 0 10px 0 20px;
        margin-bottom: 1em;
        font-size: 2rem;
        p{
            font-size: 2rem;
            line-height: 150%;
        }
    }
}

.-dante{
    .section-inner{
        width: 100%;
    }
 }

nav.share{
    a{
        width: 100%;
        float: left;
        margin-top: 20px;
        color: $cool-grey;
        font-size: 1rem;
        padding: 12px;
        border-radius: 4px;
        font-family: ContrailOne;
        padding-left: 40px;
        border: 1px solid $cool-grey;
        position: relative;
        span.icon:before{
            position: absolute;
            top: 50%;
            left: 10px;
            font-size: 2rem;
            transform: translate(0, -50%);
        }
    }
}

.-sep{
    border-bottom: 1px solid $silver;
    width: 100%;
    clear: both;
    display: block;
}

.modal-backdrop{
    background-color: $white;
    &.in{
        opacity: 0.95;
    }
}
