section.featured{
    position: relative;
    background: url(../images/delete/featured-01.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    &:before{
        content: '';
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 0;
        position: absolute;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.65) 100%);
    }
    > .container{
        display: flex;
        flex-flow: row wrap;
        align-items: center;
    }
    article{
        > header{
            h1{
                font-size: 6.3rem;
                line-height: 86px;
                margin-bottom: 16px;
                text-transform: uppercase;
                border-bottom: 1px solid rgba($white, 0.2);
                display: inline-block;
                a{
                    color: $white;
                }
            }
        }
        > footer{
            margin-top: 26px;
            > a{
                float: right;
                text-transform: uppercase;
                font-family: ContrailOne;
                font-size: 2.6rem;
            }
        }
        > p{
            color: $white-two;
            font-size: 1.8rem;
        }
    }
    form{
        color: $white-two;
        overflow: hidden;
        header{
            background: $dark-grey;
            padding: 15px 50px 10px 50px;
            border-radius: 4px 4px 0 0;
            position: relative;
            text-transform: uppercase;
            span.icon{
                position: absolute;
                top: 50%;
                left: 12.5px;
                margin-top: 2.5px;
                font-size: 2.5rem;
                line-height: 100%;
                color: $slate-grey;
                transform: translate(0, -50%);
            }
        }
        fieldset{
            padding: 30px 50px;
            border-radius: 0 0 4px 4px;
            background: rgba($dark-grey, 0.9);
        }
        footer{
            margin-top: 30px;
            input[type="submit"]{
                float: right;
                padding: 0;
            }
        }
    }
}
