#main-bottom{
    background: $dark-grey;
    color: $white;
    margin-top: 100px;
    position: relative;
    .soulativo-flag{
        width: 112px;
        height: 112px;
        background: $dark-grey;
        border-radius: 112px;
        position: absolute;
        top: -56px;
        left: 50%;
        transform: translate(-50%, 0);
        &:before{
            position: absolute;
            top: 50%;
            left: 50%;
            color: $robins-egg;
            font-size: 5rem;
            margin-top: -15px;
            transform: translate(-50%, -50%);
        }
    }
    > header{
        padding-top: 50px;
        padding-bottom: 50px;
        nav{
            margin-bottom: 40px;
            &:last-child{
                margin-bottom: 20px;
            }
            a{
                display: block;
                color: $slate-grey;
                line-height: 1.1;
                margin-bottom: 1rem;
            }
            h3{
                text-transform: uppercase;
                font-size: 1.6rem;
            }
            &.-upper{
                a{
                    font-family: ContrailOne;
                    font-size: 1.6rem;
                    text-transform: uppercase;
                    color: $white;
                }
            }
        }
        h4{
            font-size: 1.6rem;
            color: $cool-grey;
            margin-bottom: 10px;
            text-transform: uppercase;
        }
        form{
            .form-group{
                text-align: right;
            }
        }
        .methods{
            img{
                width: 80%;
                height: auto;
            }
        }
    }
    > footer{
        .wrapper{
            padding: 0 10px;
            float: left;
            width: 100%;
            &:before, &:after{
                display: block;
                content: "";
                height: 3px;
                opacity: 0.05;
                background: $white;
            }
        }
        nav{
            margin-top: 20px;
            margin-bottom: 20px;
            &.lang{
                a{
                    font-family: ContrailOne;
                    text-transform: uppercase;
                    font-size: 1.6rem;
                    line-height: 180%;
                    margin-right: 15px;
                    color: $cool-grey;
                    &.-active{
                        color: $robins-egg;
                    }
                    img{
                        width: 14px;
                        height: auto;
                    }
                }
            }
            &.social{
                float: right;
                text-align: right;
                padding-right: 5px;
                height: 28px;
                a{
                    display: inline-block;
                    padding: 0 3px;
                    font-size: 2.5rem;
                    line-height: 100%;
                }
            }
        }
    }
    small.copyright{
        text-align: center;
        display: block;
        font-size: 1rem;
        color: $slate-grey;
        padding-bottom: 20px;
        a{
            display: inline-block;
            text-align: center;
            padding: 40px 0 25px;
            img{
                width: 127px;
                height: auto;
                opacity: 0.4;
            }
        }
        span{
            display: block;
        }
    }
}
