.-form-default{
    input[type="text"], input[type="email"], input[type="password"], textarea, select{
        color: $aqua-blue;
        transition: 0.15s ease-out;
        &:focus{
            border-color: $aqua-blue;
        }
        &.error{
            color: $watermelon;
            border-color: $watermelon;
        }
    }
    select{
        width: 100%;
    }
    textarea{
        margin-top: 20px;
    }
    input[type="submit"]{
        background: transparent;
        border: 0;
        color: $aqua-blue;
        font-size: 1.6rem;
        font-family: ContrailOne;
        text-transform: uppercase;
        padding: 10px 0;
        outline: none;
        &.-block{
            background: $aqua-blue;
            color: #fff;
            text-align: center;
            width: 100%;
            padding: 20px;
            font-size: 1.6rem;
            border-radius: 4px;
            &.-success{
                background: $dark-lime-green;
            }
        }
    }
    label{
        color: $dark-grey;
        font-weight: 600;
        font-size: 1.6rem;
        display: block;
        &.error{
            color: $watermelon;
            position: absolute;
            top: 5px;
            right: 0;
            font-size: 1.2rem;
            font-weight: 500;
        }
    }
    .row{
        label{
            &.error{
                right: 10px;
            }
        }
    }
    .form-group{
        margin-bottom: 34px;
        position: relative;
    }
    .-rounded{
        border-color: $silver;
        border-width: 2px;
        border-radius: 4px;
        font-size: 1.5rem;
        padding: 10px;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center right 0.5625rem;
        background-size: 1.4625rem 1.4625rem;
    }
    .-dashed{
        border: 0;
        border-bottom: 2px solid $silver;
        padding: 10px 0;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center right 0.5625rem;
        background-size: 1.4625rem 1.4625rem;
        font-size: 1.5rem;
    }
}

.-dark{
    .-form-default{
        input[type="text"], input[type="email"], input[type="password"], textarea, select{
            color: $robins-egg;
            &:focus{
                border-color: $robins-egg;
            }
            &.error{
                color: $watermelon;
                border-color: $watermelon;
            }
        }
        input[type="submit"]{
            color: $aqua-blue;
        }
        label{
            color: $white-two;
            &.error{
                color: $watermelon;
            }
        }
        .-rounded{
            border-color: $slate-grey;
        }
        .-dashed{
            border-color: $slate-grey;
        }
    }
}

form.newsletter{
    label.error{
        top: 12px;
        right: 10px;
    }
}

#address-state,
#address-state-brazil {
  &[disabled] {
    display: none;
  }
}
