@charset "UTF-8";

@include font-face(SoulAtivo, "../fonts/soulativo", 500, normal, eot svg woff);

[data-icon]:before {
  font-family: "SoulAtivo" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "SoulAtivo" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-twitter:before {
  content: "\61";
}
.icon-instagram19:before {
  content: "\62";
}
.icon-icon-facebook:before {
  content: "\63";
}
.icon-icon-magnifier:before {
  content: "\64";
}
.icon-cart:before {
  content: "\65";
}
.icon-icon:before {
  content: "\66";
}
.icon-paypal:before {
  content: "\67";
}
.icon-youtube-alt:before {
  content: "\68";
}
.icon-youtube:before {
  content: "\69";
}
.icon-twitter-alt:before {
  content: "\6a";
}
.icon-vimeo:before {
  content: "\6b";
}
.icon-sharethis:before {
  content: "\6c";
}
.icon-facebook-alt:before {
  content: "\6d";
}
.icon-facebook:before {
  content: "\6e";
}
.icon-facebook-places:before {
  content: "\6f";
}
.icon-menu:before {
  content: "\70";
}
.icon-dot-3:before {
  content: "\71";
}
.icon-dot:before {
  content: "\72";
}
.icon-dot-2:before {
  content: "\73";
}
.icon-down-dir:before {
  content: "\74";
}
.icon-down-open:before {
  content: "\75";
}
.icon-down-open-big:before {
  content: "\76";
}
.icon-down-open-mini:before {
  content: "\77";
}
.icon-export:before {
  content: "\78";
}
.icon-light-up:before {
  content: "\79";
}
.icon-light-down:before {
  content: "\7a";
}
.icon-left-open-big:before {
  content: "\41";
}
.icon-left-open-mini:before {
  content: "\42";
}
.icon-left-open:before {
  content: "\43";
}
.icon-left-dir:before {
  content: "\44";
}
.icon-plus:before {
  content: "\45";
}
.icon-right-dir:before {
  content: "\46";
}
.icon-right-open:before {
  content: "\47";
}
.icon-right-open-big:before {
  content: "\48";
}
.icon-right-open-mini:before {
  content: "\49";
}
.icon-up-dir:before {
  content: "\4a";
}
.icon-up-open:before {
  content: "\4b";
}
.icon-up-open-big:before {
  content: "\4c";
}
.icon-up-open-mini:before {
  content: "\4d";
}
.icon-resize-full:before {
  content: "\4e";
}
.icon-resize-small:before {
  content: "\4f";
}
.icon-plus-circled:before {
  content: "\50";
}
.icon-phone:before {
  content: "\51";
}
.icon-paper-plane:before {
  content: "\52";
}
.icon-lock:before {
  content: "\53";
}
.icon-lock-open:before {
  content: "\54";
}
.icon-cancel:before {
  content: "\55";
}
.icon-check:before {
  content: "\56";
}
.icon-play:before {
  content: "\57";
}
