.-page-head{
    height: 280px;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    &:before{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        content: '';
        background: rgba($dark-grey, 0.3);
    }
    .wrapper{
        bottom: 0;
        position: absolute;
        padding-left: 10px;
        nav.category{
            font-family: ContrailOne;
            padding-bottom: 20px;
            a{
                color: $robins-egg;
                text-transform: uppercase;
                font-size: 2.8rem;
            }
        }
        h1{
            font-size: 9.4rem;
            color: #fff;
            text-transform: uppercase;
            line-height: 55%;
            margin-bottom: -3px;
        }
    }
}
.page{
    &.-read, .-read{
        margin: 60px 0;
    }
}
